parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    # https://phpstan.org/config-reference#vague-typehints
#    checkMissingIterableValueType: false

    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    scanDirectories:
        - var/cache/test/Symfony/Config
