{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Hello {{ controller_name }}!</h1>
    <button class="btn btn-primary">Button</button>
{% endblock %}
