{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Hello {{ controller_name }}!</h1>
    <p {{ stimulus_controller('hello') }}></p>
    <div {{ vue_component('Hello', { 'name': 'Vite & Stimulus & Vue' }) }}></div>
    <button class="btn btn-primary">Button</button>
{% endblock %}
